<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vandamodaintima.jfpsb.contador">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TabAppTheme"
        tools:replace="android:theme">
        <activity android:name=".Contador">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.contagem.TelaContador"
            android:label="Gerenciar Contagens"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".view.produto.TelaProduto"
            android:label="Gerenciar Produtos"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".view.contagem.AlterarDeletarContagem"
            android:label="@string/title_activity_alterar_deletar_contagem"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".view.contagem.AdicionarContagemProduto"
            android:label="@string/title_activity_adicionar_contagem_produto"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".view.TabLayoutBaseView"
            android:label="@string/title_activity_base"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />

        <activity
            android:name=".view.produto.AlterarDeletarProduto"
            android:label="Alterar/Deletar Produto"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.fornecedor.TelaFornecedorForResult"
            android:label="Fornecedor Para Produto"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.marca.TelaMarcaForResult"
            android:label="Marca Para Produto"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.codbarrafornecedor.TelaCodBarraFornecedor"
            android:label="Códigos de Barra de Fornecedor"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.fornecedor.TelaFornecedor"
            android:label="Gerenciar Fornecedores"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.fornecedor.AlterarDeletarFornecedor"
            android:label="Fornecedor: alterar ou deletar"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.loja.TelaLoja"
            android:label="Gerenciar Lojas"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.loja.AlterarDeletarLoja"
            android:label="Loja: alterar ou deletar"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.fornecedor.CadastrarFornecedorManualmente"
            android:label="Cadastrar Fornecedor Manualmente"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.produto.TelaProdutoForContagemForResult"
            android:label="Selecionar Produto Para Contagem"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.contagem.VisualizarProdutosContagem"
            android:label="Produtos Em Contagem"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.contagem.MultiploCodigoBarraLido"
            android:label="Múltiplos Códigos de Barras Lidos"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <activity
            android:name=".view.contagem.ListagemProdutoMultiploCodigoBarraLido"
            android:label="Produtos Encontrado(s)"
            android:theme="@style/TabAppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>
</manifest>