<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vandamodaintima.jfpsb.contador">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TabAppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tela.TelaContador"
            android:label="Gerenciar Contagens"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.TelaProduto"
            android:label="Gerenciar Produtos"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.TelaFornecedor"
            android:label="Gerenciar Fornecedores"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.TelaLoja"
            android:label="Gerenciar Lojas"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.manager.AlterarDeletarContagem"
            android:label="@string/title_activity_alterar_deletar_contagem"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.manager.AlterarDeletarFornecedor"
            android:label="@string/title_activity_alterar_deletar_fornecedor"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.manager.AlterarDeletarLoja"
            android:label="@string/title_activity_alterar_deletar_loja"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.manager.AlterarDeletarProduto"
            android:label="@string/title_activity_alterar_deletar_produto"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.manager.PesquisaContagemProduto"
            android:label="@string/title_activity_adicionar_contagem_produto"
            android:theme="@style/TabAppTheme.NoActionBar" />
        <activity
            android:name=".tela.manager.AdicionarContagemProduto"
            android:label="@string/title_activity_adicionar_contagem_produto"
            android:theme="@style/TabAppTheme.NoActionBar"></activity>
    </application>

</manifest>